<div
     fxLayout="column"
     class="krl-row"
     [ngClass.xs]="'components-container-xs'"
     fxLayoutGap="10px">
  <div fxFlex class="krl-col" class="form-component-holder mat-elevation-z0">
    <mat-card-content>
      <div class="example-container">
        <mat-form-field appearance="outline">
          <input
            matInput
            (keyup)="applyFilter($event.target.value)"
            placeholder="Search Orders"
          />
        </mat-form-field>
      </div>
      <!-- <div class="example-container formGroup">
        <mat-form-field appearance="outline">
          <mat-label>Choose Filter Columns</mat-label>
          <mat-select 
                      [formControl]="toppingsControl"
                      (selectionChange)="valueChanged(toppingsControl)"
                      multiple>
            <mat-select-trigger>
              <mat-chip-list>
                <mat-chip
                          color="primary"
                          selected
                          *ngFor="let i of sColumns"
                          [removable]="true"
                          (removed)="onParentToppingRemoved(i.Name, toppingsControl)">
                  {{ i.displayName }}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </mat-select-trigger>

            <mat-option *ngFor="let topping of AllColumns" [value]="topping.name">{{
              topping.displayname
              }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div
           fxLayout="column"
           class="krl-row"
           [ngClass.xs]="'components-container-xs'"
           fxLayoutGap="20px">
        <div fxFlex class="krl-col">
          <mat-card-content>
            <div
                 fxLayout="column"
                 class="krl-form-horizontal"
                 fxLayoutAlign="space-around stretch">
              <div
                   fxLayout="row"
                   fxLayout="row wrap"
                   fxFlex="50"
                   fxFlex.lt-sm="100">
                <div
                     *ngFor="let j of sColumns"
                     class="example-container"
                     fxFlex.xl="20"
                     fxFlex.lg="25"
                     fxFlex.md="33.33"
                     fxFlex.sm="50"
                     fxFlex.xs="100">
                  <div *ngIf="checkdate(j.Name)">
                    <div>
                      <mat-form-field appearance="outline" class="form-element">
                        <mat-label>Choose {{ j.displayName }}</mat-label>
                        <input
                               matInput
                               [formControl]="filterForm.get(j.Name)"
                               [satDatepicker]="picker"
                               [value]="date"
                               (dateChange)="addEvent($event)" />
                        <sat-datepicker
                                        #picker
                                        [rangeMode]="true"></sat-datepicker>
                        <sat-datepicker-toggle
                                               matSuffix
                                               [for]="picker"></sat-datepicker-toggle>
                      </mat-form-field>
                    </div>
                  </div>

                  <div *ngIf="!checkdate(j.Name)">
                    <div>
                      <mat-form-field appearance="outline" class="form-element">
                        <mat-label>Choose {{ j.displayName }}</mat-label>
                        <mat-select [formControl]="filterForm.get(j.Name)" multiple>
                          <mat-select-trigger>
                            <mat-chip-list>
                              <mat-chip
                                        color="primary"
                                        selected
                                        *ngFor="let k of filterForm.get(j.Name).value"
                                        [removable]="true"
                                        (removed)="
                                  onChildToppingRemoved(k, filterForm.get(j.Name))
                                ">
                                {{ k }}
                                <mat-icon matChipRemove>cancel</mat-icon>
                              </mat-chip>
                            </mat-chip-list>
                          </mat-select-trigger>

                          <mat-option *ngFor="let x of getUniqueValues(j.Name)" [value]="x">{{
                            x
                            }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </div>
      </div> -->

      <div class="table-container mat-elevation-z0">
        <form [formGroup]="filterForm">
          <!-- <div>
            <table
                   mat-table
                   id="ExampleTable"
                   [dataSource]="dataSource"
                   class="table"
                   matSort>
              <ng-container
                            *ngFor="let column of AllColumns"
                            [matColumnDef]="column.name">
                <th
                    mat-header-cell
                    class="header-cell"
                    *matHeaderCellDef
                    mat-sort-header>
                  {{ column.displayname }}
                </th>
                <td mat-cell class="cell" *matCellDef="let element">
                  {{ column.cell(element) }}
                </td>
              </ng-container>
              <tr
                  mat-header-row
                  class="header-row"
                  *matHeaderRowDef="serverName"></tr>
              <tr
                  mat-row
                  class="row"
                  *matRowDef="let row; columns: serverName"></tr>
            </table>
          </div> -->
          <mat-card class="example-card  mat-elevation-z2">
          <mat-table aria-readonly="true"
                     [dataSource]="dataSource"
                     class="table"
                     matSort>
            <ng-container  *ngFor="let column of AllColumns"
            [matColumnDef]="column.name">
              <mat-header-cell *cdkHeaderCellDef> {{ column.displayname }}</mat-header-cell>
              <mat-cell *cdkCellDef="let row;">  {{ column.cell(row) }}</mat-cell>
            </ng-container>
          
            <mat-header-row *cdkHeaderRowDef="serverName"></mat-header-row>
            <mat-row *cdkRowDef="let row; columns: serverName;"></mat-row>
          </mat-table>
          </mat-card>
        </form>
      </div>
      <div
           class="no-results"
           [style.display]="dataSource.data != null && dataSource.data.length < 1? '' : 'none'">
        No results
      </div>

      <mat-paginator
                     #paginator
                     [length]="dataSource.data !== null?dataSource.data.length : '0'"
                     [pageIndex]="0"
                     [pageSize]="10"
                     [pageSizeOptions]="[10,25,100,200,500,1000]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </mat-card-content>
  </div>
</div>