<!-- dialog-box.component.html -->
<mat-progress-bar *ngIf="form_status" mode="indeterminate"></mat-progress-bar>
<h1 mat-dialog-title ><strong>Payment for {{invoice_no}}</strong></h1>
<form [formGroup]="myForm" >
<div mat-dialog-content fxLayout="row" fxLayout="row wrap">
  <!-- <h3><strong>{{cus_name}}</strong></h3> -->
  <div class="example-container col-sm-12" fxFlex.xl="20" fxFlex.lg="25" fxFlex.sm="50" fxFlex.xs="100">
    <mat-form-field appearance="outline" class="form-element">
      <mat-label class="form-label">Bill Amount</mat-label>
      <input
        matInput
        autocomplete="off"
        onkeydown="javascript: return event.keyCode <= 9 && event.keyCode >= 8 ||
        event.keyCode === 46 ? true : !isNaN(Number(event.key))"
        onkeypress="return event.charCode >= 48"
        class="form-text"
        type="text"
        [min]="0"
        [max]="100000000"
        pattern="\d*"
        maxlength="8"
        formControlName="bill_amount"
      />
    </mat-form-field>
  </div>
  <div class="example-container col-sm-12" fxFlex.xl="20" fxFlex.lg="25" fxFlex.sm="50" fxFlex.xs="100">
    <mat-form-field appearance="outline" class="form-element">
      <mat-label class="form-label">Advance + Paid Amount</mat-label>
      <input
        matInput
        autocomplete="off"
        onkeydown="javascript: return event.keyCode <= 9 && event.keyCode >= 8 ||
        event.keyCode === 46 ? true : !isNaN(Number(event.key))"
        onkeypress="return event.charCode >= 48"
        class="form-text"
        type="text"
        [min]="0"
        [max]="100000000"
        pattern="\d*"
        maxlength="8"
        formControlName="paid_amount"
      />
    </mat-form-field>
  </div>
  <div class="example-container col-sm-12" fxFlex.xl="20" fxFlex.lg="25" fxFlex.sm="50" fxFlex.xs="100">
    <mat-form-field appearance="outline" class="form-element">
      <mat-label class="form-label">Given Amount</mat-label>
      <input
        matInput
        autocomplete="off"
        onkeydown="javascript: return event.keyCode <= 9 && event.keyCode >= 8 ||
        event.keyCode === 46 ? true : !isNaN(Number(event.key))"
        onkeypress="return event.charCode >= 48"
        class="form-text"
        type="text"
        [min]="0"
        [max]="100000000"
        pattern="\d*"
        maxlength="8"
        formControlName="given_amount"
        (input)="onGivenChange($event.target.value)"
      />
    </mat-form-field>
  </div>

  <div class="example-container col-sm-12" fxFlex.xl="20" fxFlex.lg="25" fxFlex.sm="50" fxFlex.xs="100">
    <mat-form-field appearance="outline">
      <mat-label class="form-label">Payment Mode</mat-label>
      <mat-select class="form-text" formControlName="pay_mode">
        <mat-option *ngFor="let i of paymodes" [value]="i">{{ i }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="example-container col-sm-12" fxFlex.xl="20" fxFlex.lg="25" fxFlex.sm="50" fxFlex.xs="100">
  <mat-form-field appearance="outline">
    <mat-label for="reference">Ref / UTR no</mat-label>
    <input
      matInput
      formControlName="reference"
      autocomplete="off"
      name="reference"
      class="form-text"
    />
  </mat-form-field>
  </div>
  
  <div class="example-container col-sm-12" fxFlex.xl="20" fxFlex.lg="25" fxFlex.sm="50" fxFlex.xs="100">
    <mat-form-field appearance="outline" class="form-element">
      <mat-label class="form-label">Balance Amount</mat-label>
      <input
        matInput
        autocomplete="off"
        onkeydown="javascript: return event.keyCode <= 9 && event.keyCode >= 8 ||
        event.keyCode === 46 ? true : !isNaN(Number(event.key))"
        onkeypress="return event.charCode >= 48"
        class="form-text"
        type="text"
        [min]="0"
        [max]="100000000"
        pattern="\d*"
        maxlength="8"
        formControlName="balance_amount"
      />
    </mat-form-field>
  </div>
</div>
</form>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()" mat-flat-button color="primary">Save</button>
  <button mat-button (click)="closeDialog()">Cancel</button>
</div>