<!-- <mat-progress-bar *ngIf="form_status" mode="indeterminate"></mat-progress-bar> -->
<!-- <div *ngIf="form_status" class="wrapper center">
  <mat-progress-spinner class="inner" mode="indeterminate"></mat-progress-spinner>
</div> -->
<div fxLayout="column" class="krl-row">
  <div fxFlex class="krl-col" class="form-component-holder">
    <div *ngIf="report_status">
      <div>
        <mat-toolbar class="mattoolbar">
          <mat-toolbar-row>
            <span class="fill-remaining-space">Customers</span>
            <span class="spacer"></span>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
      <mat-card class="example-card mat-elevation-z0">
        <div class="example-container">
          <mat-form-field appearance="outline" >
            <input class="remove_padding"
              matInput
              (keyup)="applyFilter($event.target.value)"
              placeholder="Search Customers"
            />
          </mat-form-field>
        </div>
      </mat-card>
      <mat-card class="example-card mat-elevation-z0">
        <div class="table-container ">
          <table
            mat-table
            class="table"
            matSort
            [dataSource]="dataSource"
            #mytable
            class="my-table mat-elevation-z8"
          >
            <ng-container matColumnDef="s_no">
              <th mat-header-cell *matHeaderCellDef>S.NO</th>
              <td mat-cell *matCellDef="let element">{{ element.s_no }}</td>
            </ng-container>

            <ng-container matColumnDef="cus_name">
              <th mat-header-cell *matHeaderCellDef>Customer Name</th>
              <td mat-cell *matCellDef="let element">{{ element.cus_name }}</td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="cus_mobile">
              <th mat-header-cell *matHeaderCellDef>Customer Mobile</th>
              <td mat-cell *matCellDef="let element">{{ element.cus_mobile }}</td>
            </ng-container>

            <ng-container matColumnDef="cus_address">
              <th mat-header-cell *matHeaderCellDef>Customer Address</th>
              <td mat-cell *matCellDef="let element">{{ element.cus_address }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-card>
      <mat-paginator
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[2, 5, 10, 25, 100]"
        [showFirstLastButtons]="true"
      >
      </mat-paginator>
    </div>

    <mat-card *ngIf="edit_status" class="example-card">
      <div>
        <mat-toolbar class="mattoolbar">
          <mat-toolbar-row>
            <span class="fill-remaining-space">Send Notification</span>
            <span class="spacer"></span>

            <button class="button" mat-raised-button color="primary" (click)="displayNotification()">
              Notification List
            </button>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
      <form [formGroup]="myForm">
        <div fxLayout="row" fxLayout="row wrap">
          <div
            class="example-container"
            fxFlex.xl="20"
            fxFlex.lg="25"
            fxFlex.sm="50"
            fxFlex.xs="100"
          >
            <mat-form-field appearance="outline" class="form-element">
              <mat-label for="catname">Notification Title</mat-label>
              <input
                matInput
                formControlName="title"
                autocomplete="off"
                name="title"
                class="form-text"
              />
            </mat-form-field>
          </div>
          <div
            class="example-container"
            fxFlex.xl="20"
            fxFlex.lg="25"
            fxFlex.sm="50"
            fxFlex.xs="100"
          >
            <mat-form-field appearance="outline" class="form-element">
              <mat-label for="catname">Notification Message</mat-label>
              <input
                matInput
                autocomplete="off"
                formControlName="message"
                name="message"
                class="form-text"
              />
            </mat-form-field>
          </div>
          <div
            class="example-container"
            fxFlex.xl="20"
            fxFlex.lg="25"
            fxFlex.sm="50"
            fxFlex.xs="100"
          >
            <div>
              <mat-label class="form-element">Notification Image</mat-label>
              <button mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Open Menu">
                <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #menu2="matMenu">
                <button mat-menu-item (click)="deleteImg()">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </div>
            <div>
              <img
                class="image form-input"
                [src]="imageSrc"
                *ngIf="imageSrc"
                style="height: 100px; width:100px"
              />
              <input
                class="form-input"
                id="file"
                accept=".jpg,.jpeg,.png"
                type="file"
                formControlName="file"
                (change)="onFileChange($event)"
              />
            </div>
          </div>
        </div>
        <div>
          <button
            class="submit-button"
            *ngIf="submit_status"
            mat-raised-button
            color="primary"
            (click)="sendtoServer('add')"
          >
            Submit
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
