.mat-toolbar {
  height: 10%;
}
.line1 {
  height: 1px;
  width: 100%;
  background: 1px black;
}
.mat-dialog-container {
  padding: 0px !important;
}
.btn {
  background-color: white;
  border: 1px solid;
  color: Blue;
  font-size: 18px;
  border-radius: 12px;
}
.btn-2 {
  width: 25%;
}
.info {
  border-color: #2196f3;
  color: dodgerblue;
}
.button {
  text-align: center;
}

//   .mat-card{
//       width:50%;
//   }
.card {
  width: 30%;
}
.txt1 {
  font-size: 100%;
}
.div2 {
  color: red;
}
.disc {
  color: rgb(255, 8, 0);
}
.icon {
  width: 5%;
  height: 5%;
  padding: 0px;
}
